
<section class="blog-list mtb-40">
  <div class="container">
    <h1>{{title}}</h1>
    <div class="row">
      <div class="col-md-4" *ngFor="let blog of blogs">
        <div class="blog-box">
          <img src="{{blog.image}}" alt="blog1" />
          <h3>{{blog.title}}</h3>
          <p>by <span>{{blog.author}}</span> on <span>{{blog.created_at | date:'mediumDate'}}</span></p>
          <p>{{blog.short_desc}}</p>
          <a [routerLink]="['/blog', blog.id]" class="btn btn-danger">Read more...</a>
        </div>
      </div>
    </div>
    <div class="service-error" *ngIf="error">
      <h1>{{error.errorTitle}}</h1>
      <h3>{{error.errorDesc}}</h3>
    </div>
  </div>
</section>
